# This code will show how the model works

In [21]:
import pandas as pd

In [22]:
Energy = pd.read_excel("Energy.xlsx")
Energy

       Location StartTime   EndTime  Generation  Load Weather GenLvl
0   St Cloud MN  00:00:00  01:00:00          20    19   Clear    low
1   St Cloud MN  01:00:00  02:00:00          23    23   Clear    low
2   St Cloud MN  02:00:00  03:00:00          21    22   Clear    low
3   St Cloud MN  03:00:00  04:00:00          24    23   Clear    low
4   St Cloud MN  04:00:00  05:00:00          25    25   Clear    low
5   St Cloud MN  05:00:00  06:00:00          26    23   Clear    low
6   St Cloud MN  06:00:00  07:00:00          22    22   Clear    low
7   St Cloud MN  07:00:00  08:00:00          24    23   Sunny    low
8   St Cloud MN  08:00:00  09:00:00          27    34   Sunny    low
9   St Cloud MN  09:00:00  10:00:00          30    52   Sunny    med
10  St Cloud MN  10:00:00  11:00:00          38    50   Sunny    med
11  St Cloud MN  11:00:00  12:00:00          48    41   Sunny   high
12  St Cloud MN  12:00:00  13:00:00          59    53   Sunny   high
13  St Cloud MN  13:00:00  14:00:00          46    42   Sunny   high
14  St Cloud MN  14:00:00  15:00:00          37    35   Sunny    med
15  St Cloud MN  15:00:00  16:00:00          35    35   Sunny    med
16  St Cloud MN  16:00:00  17:00:00          36    34   Sunny    med
17  St Cloud MN  17:00:00  18:00:00          32    42   Sunny    med
18  St Cloud MN  18:00:00  19:00:00          29    40   Sunny    low
19  St Cloud MN  19:00:00  20:00:00          26    37   Sunny    low
20  St Cloud MN  20:00:00  21:00:00          24    25   Sunny    low
21  St Cloud MN  21:00:00  22:00:00          23    23   Clear    low
22  St Cloud MN  22:00:00  23:00:00          25    25   Clear    low
23  St Cloud MN  23:00:00  00:00:00          22    20   Clear    low

In [23]:
Energy['Gen_Load'] = Energy['Generation'] - Energy['Load']
Energy

       Location StartTime   EndTime  Generation  Load Weather GenLvl  Gen_Load
0   St Cloud MN  00:00:00  01:00:00          20    19   Clear    low         1
1   St Cloud MN  01:00:00  02:00:00          23    23   Clear    low         0
2   St Cloud MN  02:00:00  03:00:00          21    22   Clear    low        -1
3   St Cloud MN  03:00:00  04:00:00          24    23   Clear    low         1
4   St Cloud MN  04:00:00  05:00:00          25    25   Clear    low         0
5   St Cloud MN  05:00:00  06:00:00          26    23   Clear    low         3
6   St Cloud MN  06:00:00  07:00:00          22    22   Clear    low         0
7   St Cloud MN  07:00:00  08:00:00          24    23   Sunny    low         1
8   St Cloud MN  08:00:00  09:00:00          27    34   Sunny    low        -7
9   St Cloud MN  09:00:00  10:00:00          30    52   Sunny    med       -22
10  St Cloud MN  10:00:00  11:00:00          38    50   Sunny    med       -12
11  St Cloud MN  11:00:00  12:00:00          48    41   Sunny   high         7
12  St Cloud MN  12:00:00  13:00:00          59    53   Sunny   high         6
13  St Cloud MN  13:00:00  14:00:00          46    42   Sunny   high         4
14  St Cloud MN  14:00:00  15:00:00          37    35   Sunny    med         2
15  St Cloud MN  15:00:00  16:00:00          35    35   Sunny    med         0
16  St Cloud MN  16:00:00  17:00:00          36    34   Sunny    med         2
17  St Cloud MN  17:00:00  18:00:00          32    42   Sunny    med       -10
18  St Cloud MN  18:00:00  19:00:00          29    40   Sunny    low       -11
19  St Cloud MN  19:00:00  20:00:00          26    37   Sunny    low       -11
20  St Cloud MN  20:00:00  21:00:00          24    25   Sunny    low        -1
21  St Cloud MN  21:00:00  22:00:00          23    23   Clear    low         0
22  St Cloud MN  22:00:00  23:00:00          25    25   Clear    low         0
23  St Cloud MN  23:00:00  00:00:00          22    20   Clear    low         2

In [24]:
base_rate = .60
low_rate = .50
med_rate = .40
high_rate = .30

In [25]:
columns = ["StartTime","EndTime", "Rate"]
save_time = pd.DataFrame(columns = columns)
save_time

Empty DataFrame
Columns: [StartTime, EndTime, Rate]
Index: []

In [26]:
for index, rows in Energy.iterrows():
    start_time = rows['StartTime']
    end_time = rows['EndTime']
    genlvl = rows['GenLvl']
    genload = rows['Gen_Load']
    if genload > 0:
        if genlvl == 'low':
            rate = 0.5
        elif genlvl == 'med':
            rate = 0.4
        elif genlvl == 'high':
            rate = 0.3
    else:
        rate = 0.6
    save_row = pd.Series({'StartTime': start_time, 'EndTime': end_time, 'Rate': rate})
    save_time = save_time.append(save_row, ignore_index = True)

C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)
C:\Users\22jor\AppData\Local\Temp\ipykernel_37504\3115998508.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  save_time = save_time.append(save_row, ignore_index = True)

In [29]:
save_time.to_csv("save_time.csv")